<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CDRReport</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.arctic.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.black.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.metro.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.light.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.fresh.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.highcontrast.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.dark.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.shinyblack.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.office.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.metrodark.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.darkblue.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.classic.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.web.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-lightness.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-darkness.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-overcast.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-le-frog.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-redmond.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-redmond.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-smoothness.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-sunny.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.ui-start.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Otvori navigaciju</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-page="/Index" class="navbar-brand">CDRReport</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Reports" asp-action="Index">CDR Izvještaj</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" style="margin-right:20px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Molimo Vas obratite pažnju da export podataka radite za manje setove podataka !">Export podataka<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" title="PDF Printabilan dokument" onclick="getGridCdr('pdf' );">PDF Dokument</a></li>
                                <li><a href="#" title="CSV Struktralni podateci" onclick="getGridCdr('csv' );">Tekst zarezom omeđen (CSV)</a></li>
                                <li><a href="#" title="TSV Struktralni podateci" onclick="getGridCdr('tsv' );">Tekst tabulatorom omeđen (TSV)</a></li>
                                <li><a href="#" title="HTML offline web" onclick="getGridCdr('html' );">HTML Web format</a></li>
                                <li><a href="#" title="JSON Struktralni podateci" onclick="getGridCdr('json' );">JSON java skript</a></li>
                                <li><a href="#" title="XML Struktralni podateci" onclick="getGridCdr('xml' );">XML</a></li>
                                <li><a href="#" title="MS office excel verzija 2000 (xls)" onclick="getGridCdr('xls' );">Excel 2003 (xls)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Manage">Pozdrav @User.Identity.Name </a>
                        </li>
                        <li>
                            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Odjavi se</button>
                            </form>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Prijavi se</a></li>
                </ul>
            }
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/jqwidgets/globalization/globalize.js"></script>
    <script src="~/jqwidgets/globalization/globalize.culture.bs-Latn-BA.js"></script>
    <script src="~/js/forme/jqGridLokalizacija.js"></script>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - TIMOS d.o.o.</p>
        </footer>
    </div>





    @RenderSection("Scripts", required: false)
</body>
</html>
